<!DOCTYPE html>
<html>
   <body>
    <hr/>
    {%- for category, message in get_flashed_messages(with_categories = true) %}
       <div class = "alert alert-danger">
          {{ message }}
       </div>
    {%- endfor %}
      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Username</label><br>
         <input type = "text" name = "usr" placeholder = "Name" /><br>
         <label for = "email">Password</label><br>
         <input type = "password" name = "pswd1" placeholder = "pass" /><br>
         <input type = "password" name = "pswd2" placeholder = "pass" /><br>
         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>