<!DOCTYPE html>
<html lang = "en">
   <head>
      <link rel="icon"  href="{{ url_for('static',filename='styles/images/iconbfh.jpg') }}">
   </head>
   <body>
      <h3>user</h3>
      
      <table>
         <thead>
            <tr>
               <th>Username</th>
               <th>Email</th>
               <th>Password</th>
            </tr>
         </thead>

         <tbody>
            {% for usrinf in usrInfo %}
               <tr>
                  <td>{{ usrinf.usr }}</td>
                  <td>{{ usrinf.email }}</td>
                  <td>{{ usrinf.pswd }}</td>
                  <td><a href="/delete/{{usrinf.id}}">del</a></td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>