<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename="styles/main.css")}}">
    <link rel="icon"  href="{{ url_for('static',filename='styles/images/icon bfh.jpg') }}">
    <title>Conversion </title>
</head>
<body>
  <div class="center">
        <h1>Converting</h1>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        var refresh_id = setInterval(function() {
            $.get(
              "{{ url_for('thread_status') }}",
              function(data) {
                console.log(data);
                if (data.status == 'finished') {
                  window.location.reload();
                }
              }
            )}
          , 1000);
      });
    </script>
</html>