<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOWNLOAD</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename="styles/main.css")}}">
</head>
<body>
    <div class="center">
        <H1>Download your converted file here</H1>

        <br>
        <a href="{{url_for('mainpage')}}">Go back to mainpage</a>
        <br>
        <div style="text-align:center;">
    <a class= "floop" href="/return-files/{{filename}}" >Download</a>
    </div>
    <br>
    <br>
</div>
</body>
</html>