<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOWNLOAD</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename="styles/main.css")}}">
    <link rel="icon"  href="{{ url_for('static',filename='styles/images/iconbfh.jpg') }}">
</head>
<body>
    <div class="center">
        <h1>  Conversion Completed!! </h1>
        <div style="text-align:center;">
        <H3>Download your converted file here</H3>
        </div>
        <br>
          <br>
             <div style="text-align:center;">
            <a class= "dloop" href="/return-files/{{filename}}" >Download</a>
            </div>
            <br>
            <br>
        
        <div style="text-align:center;">
            <a class="floop" href="{{url_for('mainpage')}}">Go back to mainpage</a>
        </div>
            <br>
            <br>
       
</div>
</body>
</html>