<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Main</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
        <link rel="icon"  href="{{ url_for('static',filename='styles/images/iconbfh.jpg') }}">
      </head>
   <body>
       <div class="center">
        <h1>WELCOME TO AUDIOVISUALICA</h1>

    <div class="txt_field">
        {%- for category, message in get_flashed_messages(with_categories = true) %}
        <div style="text-align:center;">  {{ message }} </div>
        {%- endfor %}

       {% if name == None %}
       <div style="text-align:center;">
        <br>
        
        <a class="bloop" href = "{{ url_for('login') }}">Login</a>
      </p>
    </div>
    </div>
    <br>
    <br>

    <div class="txt_field">
    <a class="floop" href = "{{ url_for('new') }}">Create New Account</a>
       <br>
       <br>
        </p>
           {% else %}
           <div style="text-align:center;">
       <p>logged in as {{name}}</p>
           </div>
       <br>
       <br>
            <form action="/main" method="POST" enctype="multipart/form-data">
                <input class="custom-file-input" type="file" name="image" />
                    <br>
                    <input type = "submit" value="Upload"/>
            </form>
    </div>
    <br>
    <div style="text-align:center;">

       <a class="bloop" href="/logout">Log  Out</a>
       </div>

       <br>

        <div class="txt_field">
           
       {% endif %}
       <div style="text-align:center;">
       <a class="gloop" type ="submit" href = "{{ url_for('change') }}">Change Password</a>
       <br>
       <br>
        </div>

    </div>


</div>
   </body>
</html>