@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  height: 100vh;
  overflow: hidden;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}
input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover {
  border-color: #2691d9;
  transition: 0.5s;
}
.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

a.bloop {
  display: inline-flexbox;
  text-align: center;
  padding-top: 10px;
  padding-right: 130px;
  padding-bottom: 10px;
  padding-left: 130px;
  width: 100%;
  border: 1px solid;
  background: #2691d9;
  border-radius: 20px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  text-decoration: none;
  margin: 30px 0;
}
a.bloop:hover {
  border-color: #2691d9;
  transition: 0.5s;
}

a.gloop {
  display: inline-flexbox;
  text-align: center;
  padding-top: 10px;
  padding-right: 80px;
  padding-bottom: 10px;
  padding-left: 80px;
  width: 100%;
  border: 1px solid;
  background: #2691d9;
  border-radius: 20px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  text-decoration: none;
  margin: 30px 0;
}
a.gloop:hover {
  border-color: #2691d9;
  transition: 0.5s;
  text-decoration: none;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "SELECT FILE";
  display: inline-block;
  background: linear-gradient(top, #530f55, #4b0045);
  border: 1px solid rgb(141, 42, 42);
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: rgb(89, 38, 170);
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #004b4b, #004b4b);
}
.floop {
  display: inline-flexbox;
  text-align: center;
  padding-top: 10px;
  padding-right: 70px;
  padding-bottom: 10px;
  padding-left: 70px;
  width: 100%;
  border: 1px solid;
  background: #2691d9;
  border-radius: 20px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  text-decoration: none;
  margin: 30px 0;
}
a.floop:hover {
  border-color: #2691d9;
  transition: 0.5s;
  text-decoration: none;
}

.dloop {
  display: inline-flexbox;
  text-align: center;
  padding-top: 10px;
  padding-right: 125px;
  padding-bottom: 10px;
  padding-left: 125px;
  width: 100%;
  border: 1px solid;
  background: #2691d9;
  border-radius: 20px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  text-decoration: none;
  margin: 30px 0;
}
a.dloop:hover {
  border-color: #2691d9;
  transition: 0.5s;
  text-decoration: none;
}
